<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite">
    <parameter name="manufacturer" value="Samsung"/>
    <parameter name="priceTo" value="1500"/>
    <parameter name="resolution" value="1920x1080 (Full HD)"/>
    <parameter name="diagonalFrom" value="40"/>
    <parameter name="diagonalTo" value="50"/>
    <test name="UITests">
        <classes>
            <class name="SearchTelevisionTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->